@charset "UTF-8";

/* 
PALETA DE CORES
VERDE: #49a09d
LILÃS: #5f2c82

*/

*{
    margin: 0px;
    padding: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body{
    background-color:#5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 510px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.463);
    transition: width 0.3s, height 0.3s;
    transition-timing-function:ease ;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/login.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;
}

section#login >div#formulario {
    display: block;
    padding: 8px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 3px;
}
div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}
div.campo > label {
    display: none;
}

form > input[type = submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
form > input[type = submit]:hover {
    background-color: #32706e;
}

form > a.botao {
    display: block;
    text-align: center;font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #58b8b5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 6px;
}